@use 'mixins' as mixins;

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 140px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include mixins.vp-1390 {
    padding: 0 40px;
  }

  @include mixins.vp-768 {
    padding: 0 15px;
  }
}
