/* Fonts */
/* ------------------------------------ */
$ff-main: 'Noto Sans', 'Arial', sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #ffffff;
$color-black-russian: #1e222e;
$color-black-russian-2: rgba($color-black-russian, 0.5);
$color-solitude-1: #edeeef;
$color-solitude-2: #f4f6fa;
$color-solitude-3: #e3e5eb;
$color-royal-blue-1: #476bf0;
$color-royal-blue-2: #2f54df;
$color-storm-grey-1: #6a6e80;
$color-storm-grey-2: rgba(106, 110, 128, 0.4);
$color-manatee: #7f8499;
$color-hawkes-blue: #dbdfec;
$color-white-smoke: #f3f3f3;
$color-free-speech-blue: #3356d7;
$color-blue-zodiac: #383f52;
$color-volcan: #323641;
$color-link-water: #d2d4da;
$color-mischka: #a3a7bc;
$color-periwinkle: #cccfde;
$color-dark-gray: #aeaeae;
$color-lavander: #ededee;

/* Breakpoints */
/* ------------------------------------ */
$vp-mobile: 380px;
$vp-tablet: 768px;
$vp-desktop: 1024px;
$vp-desktop-lg: 1390px;
$vp-desktop-xl: 1536px;
