@use 'src/scss/global/mixins' as mixins;

.form-order {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 770px;
  &__inner-group {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mixins.vp-1024 {
      display: flex;
      gap: 10px;
      flex-direction: column;
      margin: 0 0 30px;
    }
  }

  &__col-right {
    @include mixins.vp-1024 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__animate {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    z-index: 1000;
    font-weight: 600;
    font-size: 32px;
    line-height: 18px;
    opacity: 0;
    pointer-events: none;
    animation: fadeInOut 4s ease-in-out;
  }

  &--animate--active &__col-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__inner-bottom {
    display: flex;
    gap: 30px;

    @include mixins.vp-768 {
      gap: 10px;
      flex-direction: column;
    }
  }

  &__btn {
    cursor: pointer;
    background-color: #101010;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    border: none;
    transition: transform ease-in-out, background-color 0.2s ease-in-out;
    font-size: 17px;
    line-height: 21px;

    &--active {
      cursor: default;
      background-color: #b4b4b4;
      animation: btnSubmited 2s infinite;

      &:hover {
        background-color: #b4b4b4;
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

@keyframes btnSubmited {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
